<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Unveil IP</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/234c8d2765.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/app.css">
	<link rel="icon" href="./public/images/favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:800|Corben|Croissant+One|Kurale|Libre+Caslon+Text:700|Literata:700|Sevillana|Source+Serif+Pro:700|Manjari:100|Quicksand|Sree+Krushnadevaraya&amp;display=swap" rel="stylesheet">

	<!-- Leaflet CSS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"> </script>
</head>
<body>

	<div class="container-fluid h-100 pt-4 d-flex flex-column align-items-center align-content-around">
		<h3 class="text-center mb-4"><span class="fas fa-user-secret fa-fw fa-lg"></span> Welcome to the Unveil IP web page!</h3>
		<!-- The map area -->
		<div class="w-100 d-flex justify-content-center">
			<div id="map"></div>
			<!-- Leaflet JavaScript -->
			<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
			<!-- Our Key to Leaflet -->
			<script src="./public/js/config.js"></script>
		</div>		

		<div class="btn-ip w-75 mt-3">
			<div class="ip-numbers mt-3">
				<label>Type the IP here:</label> 
				<input type="text" maxlength="3" id="ip01" class="ip-element text-center" value="198"/>.    
				<input type="text" maxlength="3" id="ip02" class="ip-element text-center" value="55"/>.    
				<input type="text" maxlength="3" id="ip03" class="ip-element text-center" value="49"/>.    
				<input type="text" maxlength="3" id="ip04" class="ip-element text-center" value="89"/>    
			</div> 
			<input type="button" id="btn" value="Unveil IP">
		</div>	
		<span class="text-center w-100 pt-3" id="error-msg"></span>
		<span class="ip2location text-center pt-2"><small>This website includes IP2Location LITE data available from  <a href="https://www.ip2location.com" target="_blank">https://www.ip2location.com.</a></small></span>	
	</div>
	<script type="text/javascript" src="./js/app.js"></script>
</body>
</html>