body{
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Lora', serif;
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #e5ccff;
}

h1, h2 {
	letter-spacing: 1.5px;
}

ul {
		margin-bottom: 40px;
}

li {
	color: #e5ccff;
	font-weight: 100;
}

span {
	color: white ;
	font-size: 18px;
}


#ip {
	font-family: 'Krub', serif;
	font-size: 20px;
	text-align: center;
	width: 100%;
	background: none;
	border: none;
	border-bottom: 1px solid #635b9e;
	outline: none;
	padding: 5px;
	color: #cecece; 
}

#btn {
	padding-left: 40px;
	padding-right: 40px;
	height: 35px;
	font-weight: bolder;
	color: #3c3760;
	border-radius: 25px;
	background-color: #e5ccff;
	border: 2px solid  #e5ccff;
	margin-top: 20px;
	font-family: 'Raleway', serif;
	letter-spacing: 1.7px;
}

#btn:hover {
	background-color: #3c3760; 
	color: white;
	cursor: pointer;
}


	