html, body{
	height: 100%;
}
body{
	font-family: 'Kurale', serif;
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #e5ccff;
}

li {
	color: #e5ccff;
}

li span {
	color: white ;
}

.container {
	height: 90%;
}

#error-msg {
	font-size: 1.1rem;
	background: none;
	border: none;
	border-bottom: 1px solid #635b9e;
	outline: none;
	color: #e8a0b7; 
}

.ip-element {
	font-family: 'Krub', serif;
	font-size: 1rem;
	background: none;
	border: none;
	border-bottom: 1px solid #635b9e;
	outline: none;
	color: #cecece; 
	width: 40px;    

}
.ip-numbers {
	border: none;
}


#btn {
	padding-left: 40px;
	padding-right: 40px;
	height: 35px;
	color: #3c3760;
	border-radius: 25px;
	background-color: #e5ccff;
	border: 2px solid  #e5ccff;
	margin-top: 20px;
	letter-spacing: 1.7px;
	outline: 0;
	font-weight: bolder;
}

#btn:hover {
	background-color: #3c3760; 
	color: white;
	cursor: pointer;
	transition-duration: 0.5s;
	font-weight: unset;
}

.ip2location {
	letter-spacing: 0.06rem;
	color: #e5ccff;
}

.ip2location a {
	color: #e5ccff;
}

div {    
	border: 1px solid gray;    
	display: inline-block;    
}  

@media screen and (max-width: 450px) {
	
	h1 {
		font-size: 1.6em;
	} 
	h2 {
		font-size: 1.2em;
	}

	.ip2location {
    	letter-spacing: 0.015rem;
    	padding-bottom: 1rem;
	}

	.container-fluid {
		padding-top: 2.5rem!important;
	}

}